In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
df=pd.read_csv("C:\\Users\\hp\\Downloads\\education_aid_given_percent_of_aid.csv")
df

,country,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
0,Australia,4.75,33.2,19.70,23.70,26.300,30.200,10.60,11.60,11.30,...,28.30,27.50,23.20,14.40,11.20,10.30,9.74,8.05,12.50,12.10
1,Austria,24.70,42.3,13.50,2.52,15.900,4.850,19.10,17.00,45.10,...,49.00,36.30,29.40,42.70,33.20,39.50,40.80,38.90,39.50,40.70
2,Belgium,84.50,83.7,11.00,11.40,15.900,18.900,26.90,21.80,20.30,...,20.40,20.80,19.70,19.20,21.60,20.40,25.60,18.90,20.60,25.30
3,Canada,33.70,38.6,18.00,25.30,8.410,5.140,8.45,3.28,3.35,...,15.70,19.10,18.60,20.30,26.00,25.80,15.80,15.80,19.40,11.00
4,Switzerland,47.00,46.0,12.00,15.00,8.700,11.500,14.60,19.50,14.70,...,8.41,6.61,8.00,7.13,7.42,6.76,6.41,6.10,7.18,7.09
5,Germany,54.60,54.8,21.70,18.80,23.600,18.700,18.70,19.80,16.60,...,24.80,22.20,23.80,21.20,25.10,26.40,23.60,8.86,24.10,24.50
6,Denmark,100.00,100.0,13.70,19.00,5.600,15.300,3.83,13.80,8.24,...,7.58,1.58,10.70,4.86,13.20,5.52,9.21,9.60,2.13,5.61
7,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.80,21.30,33.30,18.20,17.20,15.40,11.40,19.10,15.70,14.10
8,Finland,NaN,NaN,29.60,13.50,14.100,20.200,15.10,1.54,8.61,...,9.56,14.00,13.40,12.00,14.30,14.60,24.30,10.30,8.44,7.61
9,France,62.90,63.7,46.80,33.40,38.200,38.400,40.50,38.50,41.60,...,43.90,47.30,36.10,37.20,41.20,42.20,41.50,39.50,38.00,36.80
10,UK,49.80,32.4,15.90,16.20,0.912,0.704,20.30,12.60,9.82,...,13.30,16.40,11.70,16.20,6.71,15.00,15.50,11.10,12.90,18.00
11,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.40,8.19,7.83,10.70,8.56,39.90,17.30,25.90,16.60,29.40
12,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.40,29.90,29.00,27.50,24.80,19.10,17.50,18.80,15.10,18.70
13,Italy,20.10,95.8,NaN,NaN,39.500,NaN,45.90,46.10,23.20,...,18.00,13.50,6.67,19.20,24.30,7.74,15.30,7.36,5.73,7.65
14,Japan,12.60,12.3,2.92,1.08,2.150,2.570,2.87,3.19,2.92,...,7.89,12.50,7.59,9.53,12.90,13.40,15.20,8.76,11.00,8.12
15,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.90,28.90,29.40,NaN,NaN,NaN,21.40,21.00,23.80,15.60
16,Netherlands,NaN,42.0,32.60,12.40,15.000,10.900,11.60,12.50,12.70,...,18.20,20.10,17.60,16.90,18.00,18.00,18.80,21.50,29.10,21.80
17,Norway,54.70,48.8,32.40,9.71,5.740,7.040,13.30,5.89,5.51,...,9.30,15.40,9.97,9.74,14.10,14.50,14.70,14.20,13.20,13.30
18,New Zealand,NaN,NaN,19.50,20.90,5.150,8.890,28.70,22.70,16.50,...,58.20,48.30,50.80,48.50,44.70,39.50,40.70,34.50,34.40,32.40
19,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.40,14.70,18.80,22.70,22.20,39.20,40.00,35.70,35.40,28.20
20,Sweden,32.60,23.4,15.00,13.70,20.700,18.100,16.70,21.20,17.00,...,10.40,11.00,9.03,6.19,10.60,9.87,10.80,8.93,8.45,5.40
21,USA,69.30,64.0,9.97,NaN,7.750,6.190,NaN,7.50,6.99,...,3.04,5.75,3.74,5.61,3.69,2.34,3.21,3.67,2.83,4.52

In [5]:
df.head()

,country,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
0,Australia,4.75,33.2,19.7,23.70,26.30,30.20,10.60,11.60,11.30,...,28.30,27.50,23.2,14.40,11.20,10.30,9.74,8.05,12.50,12.10
1,Austria,24.70,42.3,13.5,2.52,15.90,4.85,19.10,17.00,45.10,...,49.00,36.30,29.4,42.70,33.20,39.50,40.80,38.90,39.50,40.70
2,Belgium,84.50,83.7,11.0,11.40,15.90,18.90,26.90,21.80,20.30,...,20.40,20.80,19.7,19.20,21.60,20.40,25.60,18.90,20.60,25.30
3,Canada,33.70,38.6,18.0,25.30,8.41,5.14,8.45,3.28,3.35,...,15.70,19.10,18.6,20.30,26.00,25.80,15.80,15.80,19.40,11.00
4,Switzerland,47.00,46.0,12.0,15.00,8.70,11.50,14.60,19.50,14.70,...,8.41,6.61,8.0,7.13,7.42,6.76,6.41,6.10,7.18,7.09

In [6]:
df.tail()

,country,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
17,Norway,54.7,48.8,32.40,9.71,5.74,7.04,13.3,5.89,5.51,...,9.30,15.40,9.97,9.74,14.10,14.50,14.70,14.20,13.20,13.30
18,New Zealand,NaN,NaN,19.50,20.90,5.15,8.89,28.7,22.70,16.50,...,58.20,48.30,50.80,48.50,44.70,39.50,40.70,34.50,34.40,32.40
19,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.40,14.70,18.80,22.70,22.20,39.20,40.00,35.70,35.40,28.20
20,Sweden,32.6,23.4,15.00,13.70,20.70,18.10,16.7,21.20,17.00,...,10.40,11.00,9.03,6.19,10.60,9.87,10.80,8.93,8.45,5.40
21,USA,69.3,64.0,9.97,NaN,7.75,6.19,NaN,7.50,6.99,...,3.04,5.75,3.74,5.61,3.69,2.34,3.21,3.67,2.83,4.52

In [19]:
df.head(14)

,country,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
0,Australia,4.75,33.2,19.7,23.70,26.300,30.200,10.60,11.60,11.30,...,28.30,27.50,23.20,14.40,11.20,10.30,9.74,8.05,12.50,12.10
1,Austria,24.70,42.3,13.5,2.52,15.900,4.850,19.10,17.00,45.10,...,49.00,36.30,29.40,42.70,33.20,39.50,40.80,38.90,39.50,40.70
2,Belgium,84.50,83.7,11.0,11.40,15.900,18.900,26.90,21.80,20.30,...,20.40,20.80,19.70,19.20,21.60,20.40,25.60,18.90,20.60,25.30
3,Canada,33.70,38.6,18.0,25.30,8.410,5.140,8.45,3.28,3.35,...,15.70,19.10,18.60,20.30,26.00,25.80,15.80,15.80,19.40,11.00
4,Switzerland,47.00,46.0,12.0,15.00,8.700,11.500,14.60,19.50,14.70,...,8.41,6.61,8.00,7.13,7.42,6.76,6.41,6.10,7.18,7.09
5,Germany,54.60,54.8,21.7,18.80,23.600,18.700,18.70,19.80,16.60,...,24.80,22.20,23.80,21.20,25.10,26.40,23.60,8.86,24.10,24.50
6,Denmark,100.00,100.0,13.7,19.00,5.600,15.300,3.83,13.80,8.24,...,7.58,1.58,10.70,4.86,13.20,5.52,9.21,9.60,2.13,5.61
7,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.80,21.30,33.30,18.20,17.20,15.40,11.40,19.10,15.70,14.10
8,Finland,NaN,NaN,29.6,13.50,14.100,20.200,15.10,1.54,8.61,...,9.56,14.00,13.40,12.00,14.30,14.60,24.30,10.30,8.44,7.61
9,France,62.90,63.7,46.8,33.40,38.200,38.400,40.50,38.50,41.60,...,43.90,47.30,36.10,37.20,41.20,42.20,41.50,39.50,38.00,36.80
10,UK,49.80,32.4,15.9,16.20,0.912,0.704,20.30,12.60,9.82,...,13.30,16.40,11.70,16.20,6.71,15.00,15.50,11.10,12.90,18.00
11,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.40,8.19,7.83,10.70,8.56,39.90,17.30,25.90,16.60,29.40
12,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.40,29.90,29.00,27.50,24.80,19.10,17.50,18.80,15.10,18.70
13,Italy,20.10,95.8,NaN,NaN,39.500,NaN,45.90,46.10,23.20,...,18.00,13.50,6.67,19.20,24.30,7.74,15.30,7.36,5.73,7.65

In [20]:
df.loc[0]

country    Australia
1971            4.75
1972            33.2
1973            19.7
1974            23.7
1975            26.3
1976            30.2
1977            10.6
1978            11.6
1979            11.3
1980            19.6
1981            23.7
1982            24.6
1983            20.7
1984            48.8
1985            50.3
1986            45.3
1987            41.4
1988            38.8
1989            33.6
1990            46.9
1991            39.2
1992            23.2
1993            38.9
1994            21.4
1995            29.1
1996            29.4
1997            28.0
1998            28.3
1999            27.5
2000            23.2
2001            14.4
2002            11.2
2003            10.3
2004            9.74
2005            8.05
2006            12.5
2007            12.1
Name: 0, dtype: object

In [18]:
df.iloc[12]

country    Ireland
1971           NaN
1972           NaN
1973           NaN
1974           NaN
1975           NaN
1976           NaN
1977           NaN
1978           NaN
1979           NaN
1980           NaN
1981           NaN
1982           NaN
1983           NaN
1984           NaN
1985          29.3
1986          34.3
1987          31.4
1988          26.4
1989          28.2
1990           NaN
1991          41.4
1992          33.5
1993           NaN
1994          23.3
1995          28.5
1996          28.5
1997           NaN
1998          28.4
1999          29.9
2000          29.0
2001          27.5
2002          24.8
2003          19.1
2004          17.5
2005          18.8
2006          15.1
2007          18.7
Name: 12, dtype: object